.Card {
  display: flex;
  margin-left: 20%;
  margin-right:20%
}

img {
  width: 20rem;
  justify-self: center;
}

section {
  margin: 20%;
  margin-bottom:0;
  margin-top:0;
  display: flexbox;
}

section h2 {
  text-align: center;
  margin:auto;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

section p {
  justify-self: center;
  margin-bottom: 2rem;
}